@import url(../fonts/lato_stylesheet.css);
@import url(../fonts/montserrat_stylesheet.css);

.fn{
    font-family: 'Montserrat';
    font-size: 12px;
}

.fnq{
    font-family: 'Montserrat';
    font-size: 10px;
}

.fnn{
    font-family: 'Montserrat';
    font-size: 16px;
}

.color{
    color: black;
}

body{
    background-color: #FDFDFD;
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.containerr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.dropdown{
    font-family: 'Montserrat';
}

:hover .dropdown{
    font-family: 'Montserrat';
}
.nav-link{
    color: black;
}

:hover .nav-link{
    color: black;
}

.fnz {
    margin-top: 390px;
    margin-left: 115px;
    border-color: black;
    background-color: black;
}

.fnzz {
    border-color: black;
    background-color: black;
}

:hover .fnzz{
    border-color: black;
    background-color: black;
}

:hover .fnz{
    border-color: black;
    background-color: black;
}

.q{
    padding-bottom: 50px;
    margin-top: -380px;
}

h5{
    font-family: 'Montserrat';
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    text-align: left;
    font-weight: bold;
}

p{
    font-family: 'Montserrat';
    font-size: 12px;
    color: black;
    margin-left: 200px;
    text-align: start;
}

.btn-sm{
    margin-top: 4px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.btn-smm{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0;
}

.dropdown-items {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

:hover .dropdown-items {
    color: black;
} 

.carousel-indicators .active {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.qwe55{
    margin-top: 50px;
    font-family: 'Montserrat';
    font-size: 64px;
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.qwr{
    font-family: 'Montserrat';
    font-size: 12px;
    color: black;
    margin-left: 200px;
    margin-right: 200px;
    text-align: start;
}

.qwe56{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #ffffff;
    background-color: black;
    text-align: center;
}

.camera {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    transition: width 0.3s ease-in-out;
    width: 40px;
}

.search-bar:focus {
    width: 250px;
}

.btn-custom {
    background-color: #43a42f;
    color: rgb(0, 0, 0);
    width: 150px;
    text-align: left;
    font-size: 18px;
}
:hover .btn-custom{
    background-color: #43a42f;
    color: rgb(0, 0, 0);
}
.display-text {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

body{
    overflow-x: hidden;
}