@import url(../fonts/roboto_stylesheet.css);
@import url(../fonts/Lato_stylesheet.css);

body {
    font-family: 'Lato';
    background-color: #ffffff;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}