@import url(../fonts/roboto_stylesheet.css);
@import url(../fonts/Lato_stylesheet.css);

body {
    font-family: 'Lato';
    background-color: #FAFAFA;
}

.top-nav a {
    text-decoration: none;
    color: #050505 !important;
    padding-left: 10px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.imagecod {
        width: 200px;
        height: 40px;
}

.vr {
    display: inline-block;
    width: 1px;
    background-color: black;
    margin-left: 15px;
    height: 10px;
    margin-top: 6px;
    opacity: 1;
}

.nav-link {
    font-family: 'Lato';
    font-size: 13px;
    color: #000000;
    padding : .5rem .5rem;
}

.nav-item .active {
    font-family: 'Lato';
    font-weight: 900;
    color: #0A2647;
}

.nav-item a{
    font-family: 'Lato';
    font-size: 13px;
    color: #000000;
}

.spy-1 {
    padding-top: .15rem !important;
    opacity: 0.1;
    margin-left: 220px;
}
.nav-item a:hover{
    font-family: 'Lato';
    font-weight: 400;
    color: #0A2647;
}

.nav-item :active{
    font-family: 'Lato';
    font-weight: 900;
    color: #0A2647;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators [data-bs-target] {
    margin-bottom: 100px;
}

.dpy-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 205px;
    padding-top: .15rem !important;
    opacity: 0.5;
}
.service-card {
    position: relative;
    background-color: #144272;
    color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -150px;
    z-index: 1;
}
.service-card a {
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    text-decoration: none;
}
.service-card a:hover {
    color: #ffcc00;
}

.service-card p{
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
}

.service-card h5{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.service-card img{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.section1 {
    margin-bottom: 50px;
}

.section1 h4 {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 500;
    color: #0A2647;
    text-align: center;

}

.section1 h3 {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    line-height: 40px;
}

.section1 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    text-align: center;
}

.carousel-caption {
    top: 150px;
    bottom: auto;
    text-align: start;
}


.carousel-caption h5{
    font-family: 'Lato';
    font-size: 38px;
    font-weight: 800;
}

.carousel-caption p{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
}

.rs {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}

.rsa {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.guo {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
    color: #616161;
}

.gua {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
    color: white;
}
.list-unstyled {
    position: relative;
    color: white;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 50px;
    line-height: 30px;
}

@media (min-width: 768px) {
    .offset-md-3 {
        margin-left: 25%;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.list-unstyled a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.list-unstyled a:hover{
    color: #ffcc00;
}

.bgs{
    background-size: cover;
    width: 100%;
    height: auto;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0A2647;
    border-color: #0A2647;
    color: white;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    border-radius: 0px;
    padding: 12px;
    opacity: 1;
}

.isoimage {
    position: absolute;
}